.widget-wrapper {
	border: 1px solid #DDD;
	margin: 10px;

	&__title-bar {
		height: 10px;
		background-color: #EEEEEE;
		border-bottom: 1px solid #DDDDDD;
	}

	&__content {
		padding: 10px;
	}
}

.stock-table {
}

.header-add {
	display: flex;

	&__info {
		flex: 2;
		align-items: inherit;
	    display: flex;
	    justify-content: center;
	    flex-direction: column;
	}
	&__add {
		flex: 1;
	}
}

.comparison-graph {
	height: 900px;
}